<p style="text-align: center; background-color: white;"> 
  <a href="{{site.baseurl}}/">Home</a> |
  <a href="{{site.baseurl}}/project/">Project</a> | 
  <a href="{{site.baseurl}}/progress">Progress</a> | 
  <a href="{{site.baseurl}}/team">Team</a> | 
  <a href="{{site.baseurl}}/city-datasources">City Datasources</a> | 
  <a href="{{site.baseurl}}/gis-help">GIS Help</a> | 
  <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/">markdown</a> | 
  <a href="https://github.com/TLmaK0/gravizo">gravizo</a>
</p>

