@media (max-width: 1199px){
.main-content h1 {font-size: 30px;}  
.main-content p {font-size: 16px;}  
.main-content img {width: 100%;}  
.main-content table th {font-size: 16px;}  
.main-content h2{font-size: 25px; margin-top: 20px;}  
.main-content ul li {font-size: 16px;}  
.main-content h3 {font-size: 18px;}   
}

@media (max-width: 991px){  
.main-content h1 {font-size: 27px;}  
.main-content p {font-size: 15px;margin-top: 5px;}  
.main-content h2 {font-size: 22px;margin-top: 15px;margin-bottom: 5px;}  
}

@media (max-width: 767px){  
.project-name {font-size: 30px;}  
.project-tagline {font-size: 20px;margin: 5px 0 15px;}  
.page-header .btn {width: 150px;margin: 0 auto 15px;}  
.main-content h1 {font-size: 25px;margin-bottom: 5px;}  
.main-content h2 {font-size: 20px;margin-bottom: 0;line-height: 22px;}  
.main-content p {line-height: 20px;}  
.main-content ul li {font-size: 15px;}  
.main-content h3 {margin-top: 20px;}  
.main-content table th {font-size: 13px;}  
.main-content table th, .main-content table td{padding: 5px;}  
.main-content .tab-multi-img td img {width: 150px;height: 95px;}  
.main-content .tab-grafity-img tbody img {height: 240px;}  
 #headlang a{padding: 1px 10px;display: inline;font-size: 13px;}
 .page-header {padding: 1rem 5rem 3rem;}
}

@media (max-width: 639px){
.project-name {font-size: 25px;}  
.project-tagline {font-size: 18px;}  
.page-header .btn {width: 130px;padding: 5px;font-size: 13px;margin: 0 auto 5px;}  
.main-content h1 {font-size: 20px;margin-bottom: 5px;line-height: 23px;}  
.main-content p {font-size: 14px;}  
.main-content img {height: 220px;}  
.project-name {font-size: 23px;line-height: 27px;padding-top: 50px;}
.project-tagline {font-size: 15px;}
.page-header {padding: .5rem 2rem 2rem;}

}

@media (max-width: 479px){  
.main-content img {height: 150px;}  
.main-content .tab-multi-img td img {width: 80px;height: 65px;}  
 .main-content table th {font-size: 12px;}  
 .main-content h3 {margin: 10px 0;font-size: 17px;}  
 .main-content ul li {font-size: 14px;}  
 .main-content .tab-grafity-img tbody img {height: 120px;}
 .site-footer {padding-top: 20px;margin-top: 20px;}  
 .main-content .tab-multi-img th:nth-child(3) {width: 75px;}
 .page-header {padding: .5rem 1rem 2rem;}
}
